
body {background:   url("../images/semAuthLogo2.png") 
		       no-repeat fixed top center;
      background-color:#fff;
      font-family: Candara,Helvetica,sans-serif }

h1, h2,	h3, h4,	h5, h6 {
    color: #322728;
}

.ym-wrapper {background:transparent; }
main {background: rgba(255,255,255,0.7); }



    h1 {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 10px;
    }

    h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    }

    h3 {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    }

    h4,h5 {
    font-size: 12px;
    line-height: 26px;
    margin-bottom: 10px;
    }

    h6 {
    font-size: 12px;
    margin-bottom: 10px;
    }
	nav { background: #BF0B22; }
	#browseNav {position:relative; float:right;}
	
	footer { background: transparent; color: #BF0B22; }


	.ym-hlist {
	    background: transparent;
				      
	}

	.ym-hlist ul li, .ym-hlist ul li a, .ym-hlist ul li strong, 	.ym-hlist ul li a:focus {
	    background: transparent none repeat scroll 0% 0%;
     color: black;
	    text-decoration: none;
	    text-shadow: none;
	    width: auto;
	}

		.ym-hlist ul li a:active,
 .ym-hlist ul li a:hover {
     color: black;
     background: rgba(255,255,255,0.8); 
    border-radius: 0.2em;
    text-decoration: none;
    outline: 0px none;}

