@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework
 *
 * (en) Vertical list navigation "vlist"
 * (de) Vertikale Navigationsliste "vlist"
 *
 * @copyright       Copyright 2005-2009, Dirk Jesse
 * @license         CC-A 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-C (http://www.yaml.de/en/license/license-conditions.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         3.2
 * @revision        $Revision:392 $
 * @lastmodified    $Date:2009-07-05 12:18:40 +0200 (So, 05. Jul 2009) $
 */

@media all
{
  /* title */
  h6.vlist {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:100%;
    width:90%;
    padding:3px 0px 3px 10%; /* LTR */
    margin:0;
    color:#444;
    background-color:#fff;

  }

  .vlist {
    width:100%;
    overflow:hidden;
    margin:0 0 0 0;
    list-style-type:none;
    border-bottom:0px #ddd solid;
  }

  .vlist ul {
    list-style-type:none;
    margin:0;
    padding:0;
  }

  .vlist li {
    float:left; /* LTR */
    width:100%;
    margin:0;
    padding: 0px;
  }

  .vlist a,
  .vlist strong,
  .vlist span {
    display:block;
    padding:3px 0px 3px 20%;
    text-decoration:none;
    border-bottom:1px #ddd solid;
  }

  .vlist a,
  .vlist a:visited {
    color:#444;
  }

  .vlist li span {
    display:block;
    border-bottom:1px #ddd solid;
    border-top:1px #ddd solid;
  }


  /* Level 1 */
  .vlist li a,
  .vlist li strong,
  .vlist li span { width:100%; padding-left:0%; } /* LTR */

  .vlist li a:focus,
  .vlist li a:hover,
  .vlist li a:active { background-color:#f0f0f0; color:#333; }

  .vlist .selected > a {background:#f0f0f0; /* border:1px solid; */ }

  /* Level 2 */
  .vlist li ul li a,
  .vlist li ul li strong,
  .vlist li ul li span { width:90%; padding-left:10%; } /* LTR */

  .vlist li ul li a, 
  .vlist li ul li a:visited { background-color:transparent; color:#333; }
  .vlist li ul li a:focus,
  .vlist li ul li a:hover,
  .vlist li ul li a:active { background-color:#f0f0f0; color:#333; }

  /* Level 3 */
  .vlist li ul li ul li a,
  .vlist li ul li ul li strong,
  .vlist li ul li ul li span { width:80%; padding-left:20%; } /* LTR */

  .vlist li ul li ul li a,
  .vlist li ul li ul li a:visited{ background-color:#f0f0f0; color:#222; }
  .vlist li ul li ul li a:focus,
  .vlist li ul li ul li a:hover,
  .vlist li ul li ul li a:active { background-color:#f0f0f0; color:#333; }

  /* Level 4 */
  .vlist li ul li ul li ul li a,
  .vlist li ul li ul li ul li strong,
  .vlist li ul li ul li ul li span { width:70%; padding-left:30%; } /* LTR */

  .vlist li ul li ul li ul li a,
  .vlist li ul li ul li ul li a:visited { background-color:#e8e8e8; color:#111; }
  .vlist li ul li ul li ul li a:focus,
  .vlist li ul li ul li ul li a:hover,
  .vlist li ul li ul li ul li a:active { background-color:#a88; color:#fff; }
}
