/**
 * "Yet Another Multicolumn Layout" - YAML CSS Framework
 *
 * (en) YAML core stylesheet
 * (de) YAML Basis-Stylesheet
 *
 * Don't make any changes in this file!
 * Your changes should be placed in any css-file in your own stylesheet folder.
 *
 * @copyright       Copyright 2005-2012, Dirk Jesse
 * @license         CC-BY 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-CDL (http://www.yaml.de/license.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         v4.0.2
 * @revision        $Revision: 743 $
 * @lastmodified    $Date: 2012-10-23 23:01:14 +0200 (Di, 23 Okt 2012) $
 */

@media all {

	/**
	* @section CSS-Normalisation Module
	*/

	/* (en) Global reset of paddings and margins for all HTML elements */
	/* (de) Globales Zurücksetzen der Innen- und Außenabstände für alle HTML-Elemente */
	* { margin:0; padding:0; }

	/* (en) Correction:margin/padding reset caused too small select boxes. */
	/* (de) Korrektur:Das Zurücksetzen der Abstände verursacht zu kleine Selectboxen. */
	option { padding-left:0.4em; } /* LTR */
	select { padding:1px; }

	/**
	* (en) Global fix of the Italics bugs in IE 5.x and IE 6
	* (de) Globale Korrektur des Italics Bugs des IE 5.x und IE 6
	*
	* @bugfix
	* @affected   IE 5.x/Win, IE6
	* @css-for    IE 5.x/Win, IE6
	* @valid      yes
	*/
	* html body * { overflow:visible; }

	body {
		/* (en) Fix for rounding errors when scaling font sizes in older versions of Opera browser */
		/* (de) Beseitigung von Rundungsfehler beim Skalieren von Schriftgrößen in älteren Opera Versionen */
		font-size:100%;

		/* (en) Standard values for colors and text alignment */
		/* (de) Vorgabe der Standardfarben und Textausrichtung */
		background:#fff;
		color:#000;
		text-align:left; /* LTR */
	}

	/* (en) avoid visible outlines on DIV containers in Webkit browsers */
	/* (de) Vermeidung sichtbarer Outline-Rahmen in Webkit-Browsern */
	div:target { outline:0 none; }

	/* (en) HTML 5 - adjusting visual formatting model to block level */
	/* (en) HTML 5 - Anpassung des visuellen Formatmodells auf Blockelemente */
	article,aside,details,figcaption,figure,
	footer,header,hgroup,nav,section {
		display:block;
	}

	/* (en) HTML5 - default media element styles */
	/* (de) HTML5 - Standard Eigenschaften für Media-Elemente */
	audio,
	canvas,
	video {
		display: inline-block;
	}

	/* (en) HTML5 - don't show <audio> element if there aren't controls */
	/* (de) HTML5 - <audio> ohne Kontrollelemente sollten nicht angezeigt werden */
	audio:not([controls]) {
		display: none;
	}

	/* (en) HTML5 - add missing styling in IE & old FF for hidden attribute  */
	/* (de) HTML5 - Eigenschaften für das hidden-Attribut in älteren IEs und FF nachrüsten */
	[hidden] {
		display: none;
	}

	/* (en) force consistant appearance of input[type="search"] elements in all browser  */
	/* (de) Einheitliches Erscheinungsbild für input[type="search"] Elemente erzwingen  */
	input[type="search"] {
		-webkit-appearance: textfield;
	}
	input[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	/* (en) Clear borders for <fieldset> and <img> elements */
	/* (de) Rahmen für <fieldset> und <img> Elemente löschen */
	fieldset, img { border:0 solid; }

	/* (en) new standard values for lists, blockquote, cite and tables */
	/* (de) Neue Standardwerte für Listen, Zitate und Tabellen */
	ul, ol, dl { margin:0 0 1em 1em; } /* LTR */
	li {
		line-height:1.5em;
		margin-left:0.8em; /* LTR */
	}

	dt { font-weight:bold; }
	dd { margin:0 0 1em 0.8em; } /* LTR */

	blockquote { margin:0 0 1em 0.8em; } /* LTR */
	q { quotes: none; }

	blockquote:before, blockquote:after,
	q:before, q:after { content: ''; content:none }

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

 	/**
	* @section Float Handling Module
	*/

	/* (en) clearfix method for clearing floats */
	/* (de) Clearfix-Methode zum Clearen der Float-Umgebungen */
	.ym-clearfix:before {
		content:"";
		display:table;
	}
	.ym-clearfix:after {
		clear:both;
		content:".";
		display:block;
		font-size:0;
		height:0;
		visibility:hidden;
	}

	/* (en) alternative solutions to contain floats */
	/* (de) Alternative Methoden zum Einschließen von Float-Umgebungen */
	.ym-contain-dt { display:table; width: 100%; overflow: visible; }
	.ym-contain-oh { overflow:hidden; width:100%; display:block; }
	.ym-contain-fl { float:left; width:100%; }

	/**
	* @section Accessibility Module
	*
	* (en) skip links and hidden content
	* (de) Skip-Links und versteckte Inhalte
	*/

	/* (en) classes for invisible elements in the base layout */
	/* (de) Klassen für unsichtbare Elemente im Basislayout */
	.ym-skip,
	.ym-hideme,
	.ym-print {
		position:absolute;
		top:-32768px;
		left:-32768px; /* LTR */
	}

	/* (en) make skip links visible when using tab navigation */
	/* (de) Skip-Links für Tab-Navigation sichtbar schalten */
	.ym-skip:focus,
	.ym-skip:active {
		position:static;
		top:0;
		left:0;
	}

	/* skiplinks:technical setup */
	.ym-skiplinks {
		position:absolute;
		top:0px;
		left:-32768px;
		z-index:1000;
		width:100%;
		margin:0;
		padding:0;
		list-style-type:none;
	}

	.ym-skiplinks .ym-skip:focus,
	.ym-skiplinks .ym-skip:active {
		left:32768px;
		outline:0 none;
		position:absolute;
		width:100%;
	}
}

@media screen, projection {

	/**
	* @section Column Module
	*
	* default column config:
	* |-------------------------------|
	* | col1    | col3      | col2    |
	* | 20%     | flexible  | 20%     |
	* |-------------------------------|
	*/

	.ym-column { display:table; width:100%; }


	.ym-col1 { float:left; width:20%; }
	.ym-col2 { float:right; width:20%; }
	.ym-col3 { width:auto; margin:0 20%; }

	.ym-cbox { padding: 0 10px }
	.ym-cbox-left { padding: 0 10px 0 0 }
	.ym-cbox-right { padding: 0 0 0 10px } 


/* hdaw-mint
aus: http://www.yaml.de/docs/index.html#yaml-columns
Scenario C: Vertical navigation and flexible content

 * |-------------------------------------------------------|
 * | navigation      |    content                          |
 * | col 1 | fixed   |    col 3 | flexible                 |
 * |                 |                                     |
 * |-------------------------------------------------------|

.ym-col1 { color:red; float: left; width: 250px; }
.ym-col3 { color:green; margin: 0 0 0 250px; }
*/



	/* (en) IE-Clearing:Only used in Internet Explorer, switched on in iehacks.css */
	/* (de) IE-Clearing:Benötigt nur der Internet Explorer und über iehacks.css zugeschaltet */
	.ym-ie-clearing { display:none; }

	/**
	* @section Grid Module
	*
	*/

	.ym-grid {
		display:table;
		width:100%;
		table-layout:fixed;
		list-style-type: none;
		padding-left:0;
		padding-right:0;
		margin-left:0;
		margin-right:0;
	}

	.ym-gl { float:left; margin: 0; }
	.ym-gr { float:right; margin: 0 0 0 -5px; }

	.ym-g20 { width:20%; }
	.ym-g40 { width:40%; }
	.ym-g60 { width:60%; }
	.ym-g80 { width:80%; }
	.ym-g25 { width:25%; }
	.ym-g33 { width:33.333%; }
	.ym-g50 { width:50%; }
	.ym-g66 { width:66.666%; }
	.ym-g75 { width:75%; }
	.ym-g38 { width:38.2%; }
	.ym-g62 { width:61.8%; }

	.ym-gbox { padding: 0 10px }
	.ym-gbox-left { padding: 0 10px 0 0 }
	.ym-gbox-right { padding: 0 0 0 10px }

	.ym-equalize { overflow:hidden; }

	.ym-equalize > [class*="ym-g"] {
		display:table-cell;
		float:none;
		margin:0;
		vertical-align:top;
	}

	.ym-equalize > [class*="ym-g"] > [class*="ym-gbox"] {
		padding-bottom: 10000px;
		margin-bottom: -10000px
	}
}

@media all {

   /**
	* @section Form Module
	*
	* Vertical-Forms - technical base (standard)
	*
	* |-------------------------------|
	* | form                          |
	* |-------------------------------|
	* |   label                       |
	* |   input / select / textarea   |
	* |-------------------------------|
	* | /form                         |
	* |-------------------------------|
	*
	* (en) Styling of forms where both label and input/select/textarea are styled with display:block;
	* (de) Formulargestaltung, bei der sowohl label als auch input/select/textarea mit display:block; gestaltet werden
	*/

	.ym-form,
	.ym-form fieldset { overflow:hidden; }

	.ym-form div { position:relative; }
	
	.ym-form label,
	.ym-form .ym-message {
		position:relative;
		display:block; /* important for Safari */
	}

	.ym-form .ym-fbox-check label {
		display:inline;
	}

	.ym-form input,
	.ym-form textarea { cursor:text; }

	.ym-form input[type="checkbox"],
	.ym-form input[type="radio"],
	.ym-form select,
	.ym-form label { cursor:pointer; }

	/* small adjustments for Internet Explorer - all versions */
	.ym-form textarea { overflow: auto; }

	/* Hiding of hidden fields (otherwise ugly spaces in Firefox) | Versteckte Felder wirklich verstecken (sonst ggf. häßliche Lücken im Firefox) */
	.ym-form input[type=hidden] { display:none !important; }

	/* styling containing DIV elements | Gestaltung der kapselnden DIV-Elemente */
	.ym-form .ym-fbox-text:before,
	.ym-form .ym-fbox-select:before,
	.ym-form .ym-fbox-check:before,
	.ym-form .ym-fbox-button:before {
		content:"";
		display:table;
	}

	.ym-form .ym-fbox-text:after,
	.ym-form .ym-fbox-select:after,
	.ym-form .ym-fbox-check:after,
	.ym-form .ym-fbox-button:after {
		clear:both;
		content:".";
		display:block;
		font-size:0;
		height:0;
		visibility:hidden;
	}

	/* styling standard form elements with 'almost' equal flexible width | Gestaltung der einzelnen Formularelemente mit annähend gleicher Breite */
	.ym-form select,
	.ym-form input,
	.ym-form textarea {
		display:block;
		position:relative;
		width:58.5%;
	}

	.ym-form .ym-fbox-check input {
		display: inline;
		width: auto;
	}

	/* Styling of buttons | Gestaltung von Buttons */
	.ym-form .ym-fbox-button input {
		display: inline;
		overflow:visible;  /* Fixes IE7 auto-padding bug */
		width:auto;
	}

	/* avoid jumping checkboxes & radiobuttons in IE8 */
	.ym-form .ym-fbox-check input:focus,
	.ym-form .ym-fbox-check input:hover,
	.ym-form .ym-fbox-check input:active {
		border:0 none;
	}

	/* Indent Checkbox fields to match label-width | Checkboxen um den gleichen Wert einrücken, wie die Breite der labels */

	.ym-full .ym-fbox-select select,
	.ym-full .ym-fbox-text input,
	.ym-full .ym-fbox-text textarea {
		width:94.2%;
		margin-right: -3px;
	}

   /**
	* Columnar forms display - technical base (optional)
	*
	* |-------------------------------------------|
	* | form                                      |
	* |-------------------------------------------|
	* |                                           |
	* |   label   |   input / select / textarea   |
	* |                                           |
	* |-------------------------------------------|
	* | /form                                     |
	* |-------------------------------------------|
	*
	* (en) Styling of forms where label floats left of form-elements
	* (de) Formulargestaltung, bei der die label-Elemente nach links fließen
	*/

	/* Columnar display | Spalten-Darstellung */
	.ym-columnar .ym-fbox-text label,
	.ym-columnar .ym-fbox-select label {
		display:inline;
		float:left;
		width:30%; /* Can be fixed width too | Kann auch eine fixe Angabe sein */
	}
	.ym-columnar .ym-fbox-check {
		position:relative;
	}

	.ym-label { display:block; }
	.ym-columnar .ym-fbox-check .ym-label {
		position:absolute;
		top:0;
	}

	/* Indent Checkbox fields to match label-width | Checkboxen um den gleichen Wert einrücken, wie die Breite der labels */
	.ym-columnar .ym-fbox-check input,
	.ym-columnar .ym-error .ym-message {
		margin-left:30%;
	}

	/* global and local columnar settings for button alignment */
	.ym-columnar fieldset .ym-fbox-button,
	fieldset.ym-columnar .ym-fbox-button {
		padding-left:30%;
	}

	.ym-columnar .ym-fbox-select select,
	.ym-columnar .ym-fbox-text input,
	.ym-columnar .ym-fbox-text textarea {
		float:left;
		width:67.2%;
		margin-right: -3px;
	}

	/**
	* @section Form Construction Kit | Screen Adjustments
	*
	*/

	.ym-fbox-select select { width:60%; }
	.ym-full .ym-fbox-select select { width:94.8%; }
	.ym-columnar .ym-fbox-select select { width:68.8%; }
}

@media print {

	/**
	* @section print adjustments for core modules
	*
	* (en) float clearing for subtemplates. Uses display:table to avoid bugs in FF & IE
	* (de) Float Clearing für die Subtemplates. Verwendet display:table, um Darstellungsprobleme im FF & IE zu vermeiden
	*
	* @bugfix
	* @since     3.0
	* @affected  FF2.0, FF3.0, IE7
	* @css-for   all browsers
	* @valid     yes
	*/

	.ym-grid > .ym-gl,
	.ym-grid > .ym-gr {
		overflow:visible;
		display:table;
	}

	/* (en) make .ym-print class visible */
	/* (de) .ym-print-Klasse sichtbar schalten */
	.ym-print {
		position:static;
		left:0;
	}

	/* (en) generic class to hide elements for print */
	/* (de) Allgemeine CSS Klasse, um beliebige Elemente in der Druckausgabe auszublenden */
	.ym-noprint {
		display:none !important;
	}
}/**
 * "Yet Another Multicolumn Layout" - YAML CSS Framework
 *
 * (en) Horizontal list navigation "hlist"
 * (de) Horizontale Navigationsliste "hlist"
 *
 * @copyright       Copyright 2005-2012, Dirk Jesse
 * @license         CC-BY 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-CDL (http://www.yaml.de/license.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         v4.0.2
 * @revision        $Revision: 743 $
 * @lastmodified    $Date: 2012-10-23 23:01:14 +0200 (Di, 23 Okt 2012) $
 */

@media all {

	.ym-hlist {
		/* (en) containing floats in IE */
		/* (de) Einfassen der Floats im IE */
		width:100%;
		overflow:hidden;
		/* (en|de) Bugfix:IE - collapsing horizontal margins */
		position:relative;
		line-height:1em;
		/* background: #222; */
		background: transparent;
	}

	.ym-hlist ul {
		margin:0;
		padding: 0.5em 1.5em;
		/* (en|de) Bugfix:IE - Doubled Float Margin Bug */
		display:inline;
		float:right; /* LTR */
	}

	.ym-hlist ul li {
		/* (en|de) Bugfix:IE - Doubled Float Margin Bug */
		display:inline;
		float:left; /* LTR */
		font-size:1.0em;
		line-height:1em;
		list-style-type:none;
		margin: 0 .25em 0 0;
		padding:0;
	}

	.ym-hlist ul li a,
	.ym-hlist ul li strong {
		background:transparent;
		color:#aaa;
		display:block;
		font-size:1em;
		line-height: 2em;
		padding: 0 0.5em;
		font-weight:normal;
		text-decoration:none;
		/* text-shadow: 0 1px 1px rgba(0,0,0,.5); */
		width:auto;
	}

	.ym-hlist ul li a:focus,
	.ym-hlist ul li a:hover,
	.ym-hlist ul li a:active  {
		color: #666;
		background:#666;
		background: rgba(255,255,255,.25);
		-webkit-border-radius: 0.2em;
		-moz-border-radius: 0.2em;
		border-radius: 0.2em;
		text-decoration:none;
		outline: 0 none;
	}

	.ym-hlist ul li.active {
		background:#666;
		background: rgba(255,255,255,.3);
		-webkit-border-radius: 0.2em;
		-moz-border-radius: 0.2em;
		border-radius: 0.2em;
		/* color: #fff; */
	}

	.ym-hlist ul li.active strong,
	.ym-hlist ul li.active a:focus,
	.ym-hlist ul li.active a:hover,
	.ym-hlist ul li.active a:active {
		background:transparent;
		/* color:#fff; */
		text-decoration:none;
	}


	/* search form -------------------------------------- */
	.ym-searchform {
		float:right;
		display: inline;
		line-height: 2em;
		padding: 0.5em 1.5em;
	}

	.ym-searchform .ym-searchfield {
		background: #fff;
		line-height: 1em;
		padding: 0.25em;
		width: 290px;
		border: solid 1px #888;
		border: solid 1px rgba(255,255,255,.1);
		outline: none;

		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
		-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
		box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	}

	.ym-searchform .ym-searchbutton {
		color: #ccc;
		cursor: pointer;
		display: inline-block;
		font-size: 1em;
		line-height: 1.3571em;
		padding: 0.25em;
		border: solid 1px transparent;
		/* text-shadow: 0 1px 1px rgba(0,0,0,.5); */

		-webkit-border-radius: .2em;
		-moz-border-radius: .2em;
		border-radius: .2em;

		background: #5f5f5f;
		background: rgba(255,255,255,.2);
	}
}/**
 * "Yet Another Multicolumn Layout" - YAML CSS Framework
 *
 * YAML form theme: "gray-theme"
 *
 * @copyright			 Copyright 2005-2012, Dirk Jesse
 * @license				 CC-BY 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                       YAML-CDL (http://www.yaml.de/license.html)
 * @link                 http://www.yaml.de
 * @package				 yaml
 * @version              v4.0.2
 * @revision             $Revision: 743 $
 * @lastmodified         $Date: 2012-10-23 23:01:14 +0200 (Di, 23 Okt 2012) $
 */

@media screen and (min-width: 0px){

	/**
	* @section general width settings for formular elements in modern browsers
	*          switching to CSS3 box modell "border-box" for perfect flexible forms
	*
	* Styling for: <labels>, <input>, <textarea> and <select>
	*
	*/

	.ym-form input,
	.ym-form input,
	.ym-form textarea,
	.ym-form select {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		width:60%;
	}

	.ym-columnar label {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	.ym-columnar .ym-fbox-select select,
	.ym-columnar .ym-fbox-text input,
	.ym-columnar .ym-fbox-text textarea { width:70%; }

	.ym-full .ym-fbox-select select,
	.ym-full .ym-fbox-text input,
	.ym-full .ym-fbox-text textarea { width:100%; }
}

@media screen, projection {

	/**
	* @section general form styling
	*
	* Styling for: <form>, <fieldset>, <legend>, <label> and rows (class="ym-fbox-[xxx]")
	*
	*/
	.ym-form {
		background:#f4f4f4;
		border:2px #fff solid;
		margin: 1.5em 0 0 0;
		padding: 0;
		-webkit-box-shadow: 0 0 4px #ddd;
		-moz-box-shadow: 0 0 4px #ddd;
		box-shadow: 0 0 4px #ddd;
	}

	.ym-form fieldset {
		position:static;
		background:transparent;
		margin: 0.75em 0 0.75em 0;
		padding: 0 0.5em;
	}

	.ym-form legend {
		background:transparent;
		color:#000;
		font-size:1.2em;
		line-height:1.25em;
		font-weight:bold;
		padding:0 0.5em;
	}

	.ym-form label {
		color:#666;
		line-height: 1.5em;
	}

	.ym-label {
		color: #666;
		padding-top: 0.25em;
	}

	.ym-form .ym-form div.ym-fbox-check:focus + label {
		color:#000;
	}

	/* styling containing DIV elements | Gestaltung der kapselnden DIV-Elemente */
	.ym-form div.ym-fbox-text,
	.ym-form div.ym-fbox-select,
	.ym-form div.ym-fbox-check,
	.ym-form div.ym-fbox-button {
		padding: 0.3em 1em;
		margin-bottom: 0.5em;
	}

	.ym-form div.ym-fbox-button {
		background: #ececec;
		border-top: 1px #e0e0e0 solid;
		padding:0 1em 1.5em 1em;
		margin: 0;
	}

	.ym-form .ym-gbox {
		padding: 0 0.5em;
		margin-right: 0;
	}

	.ym-form h6 {
		color: #000;
		margin: 1em 0 0 1em;
	}

	/**
	* @section styling form elements
	*
	* Styling for: Input, Textarea, Select ...
	*
	*/

	/* styling standard form elements with 'almost' equal flexible width */
	/* Gestaltung der einzelnen Formularelemente mit annähend gleicher Breite */
	.ym-form .ym-fbox-text input,
	.ym-form .ym-fbox-text textarea {
		line-height: 1em;
		padding: 0.25em 0.3em;
		margin-top: -2px;
	}

	.ym-form .ym-fbox-select select {
		line-height: 1em;
		padding: 0.25em 2px 0.25em 1px;
		margin-top: -2px;
	}

	/* proportional fonts for all form elements */
	.ym-form input,
	.ym-form textarea,
	.ym-form select,
	.ym-form optgroup {
		font-family: Helvetica, Arial, sans-serif;
		-webkit-box-shadow: inset 0 0 4px #eee;
		-moz-box-shadow: inset 0 0 4px #eee;
		box-shadow: inset 0 0 4px #eee;
	}

	.ym-form optgroup {
		font-style:normal;
		font-weight:bold;
	}

	.ym-form .ym-fbox-text input,
	.ym-form .ym-fbox-text textarea,
	.ym-form .ym-fbox-select select {
		border:1px solid #ddd;
	}

	/* General form styling	| Allgemeine Formatierung des Formulars */
	.ym-form .ym-message {
		color:#666;
		margin-bottom:0.5em;
	}

	/* Highlight mandatory fields | Pflichtfeldkennzeichnung hervorheben */
	.ym-form .ym-required {
		color:#800;
		font-weight:bold;
	}

	/* form validation highlight colors */
	.ym-form input:valid,
	.ym-form textarea:valid { background-color: #fff; }
	.ym-form input:invalid,
	.ym-form textarea:invalid { background-color: #fdd; }

	/**
	* @section error messages
	*
	*/

	.ym-form .ym-error label {
		color:#800;
		font-weight:normal;
	}

	.ym-form .ym-error input,
	.ym-form .ym-error select,
	.ym-form .ym-error textarea {
		border: 1px #800 solid;
	}

	.ym-form .ym-error input:hover,
	.ym-form .ym-error input:focus,
	.ym-form .ym-error select:hover,
	.ym-form .ym-error select:focus,
	.ym-form .ym-error textarea:hover,
	.ym-form .ym-error textarea:focus {
		border: 1px #800 solid !important;
	}

	.ym-form .ym-error .ym-message {
		color:#800;
		font-weight: bold;
		margin-top: 0;
	}

	/* :hover and :focus status on form fields | Effekt zur Hervorhebung von Formularfeldern bei :hover oder :focus */
	.ym-form div.ym-fbox-text input:focus,
	.ym-form div select:focus,
	.ym-form div textarea:focus,
	.ym-form div.ym-fbox-text input:hover,
	.ym-form div select:hover,
	.ym-form div textarea:hover,
	.ym-form div.ym-fbox-text input:active,
	.ym-form div select:active,
	.ym-form div textarea:active {
		border:1px #888 solid;
		background:#fff;
	}

	/**
	* @section Buttons
	*
	* inspired from: Catalin Rosu (http://www.red-team-design.com/just-another-awesome-css3-buttons)
	*/

	.ym-button,
	.ym-form button,
	.ym-form input[type="button"],
	.ym-form input[type="reset"],
	.ym-form input[type="submit"] {
		display: inline-block;
		white-space: nowrap;
		background-color: #ccc;
		background-image: -webkit-linear-gradient(top, #eee, #ccc);
		background-image: -moz-linear-gradient(top, #eee, #ccc);
		background-image: -ms-linear-gradient(top, #eee, #ccc);
		background-image: -o-linear-gradient(top, #eee, #ccc);
		background-image: linear-gradient(top, #eee, #ccc);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
		border: 1px solid #777;
		-webkit-border-radius: .2em;
		-moz-border-radius: .2em;
		border-radius: .2em;
		-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.15);
		-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.15);
		box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.15);
		color: #333 !important;
		cursor: pointer;
		font: normal 1em/2em Helvetica, Arial, sans-serif;
		margin: 1.5em 0.75em 0 0;
		padding: 0 1.5em;
		overflow: visible; /* removes extra side spacing in IE */
		text-decoration: none !important;
		text-shadow: 0 1px 0 rgba(255,255,255,.8);
	}

	.ym-form button:hover,
	.ym-form input[type="button"]:hover,
	.ym-form input[type="reset"]:hover,
	.ym-form input[type="submit"]:hover,
	.ym-button:hover {
		background-color: #ddd;
		background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
		background-image: -moz-linear-gradient(top, #fafafa, #ddd);
		background-image: -ms-linear-gradient(top, #fafafa, #ddd);
		background-image: -o-linear-gradient(top, #fafafa, #ddd);
		background-image: linear-gradient(top, #fafafa, #ddd);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
	}

	.ym-form button:active,
	.ym-form input[type="button"]:active,
	.ym-form input[type="reset"]:active,
	.ym-form input[type="submit"]:active,
	.ym-button:active {
		background-color: #bbb;
		background-image: -webkit-linear-gradient(top, #ccc, #bbb);
		background-image: -moz-linear-gradient(top, #ccc, #bbb);
		background-image: -ms-linear-gradient(top, #ccc, #bbb);
		background-image: -o-linear-gradient(top, #ccc, #bbb);
		background-image: linear-gradient(top, #ccc, #bbb);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#bbbbbb');
		box-shadow: 2px 2px 3px rgba(0,0,0,.2) inset;
		position: relative;
		top: 1px;
	}

	.ym-form button:focus,
	.ym-form input[type="button"]:focus,
	.ym-form input[type="reset"]:focus,
	.ym-form input[type="submit"]:focus,
	.ym-button:focus {
		outline: 0;
		background: #fafafa;
	}

	/* pseudo elements don't work on input */
	.ym-form button:before,
	.ym-button:before {
		background: #ccc;
		background: rgba(0,0,0,.1);
		float: left;
		width: 1em;
		text-align: center;
		font-size: 1.5em;
		margin: 0 1em 0 -1em;
		padding: 0 .2em;
		-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
		-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
		box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
		-moz-border-radius: .15em 0 0 .15em;
		-webkit-border-radius: .15em 0 0 .15em;
		border-radius: .15em 0 0 .15em;
		pointer-events: none;
	}

	.ym-add:before { content: "\271A"; }
	.ym-delete:before { content: "\2718"; }
	.ym-edit:before { content: "\270E"; }
	.ym-email:before { content: "\2709"; }
	.ym-like:before { content: "\2764"; }
	.ym-next:before { content: "\279C"; }
	.ym-play:before { content: "\25B6"; }
	.ym-save:before { content: "\2714"; }
	.ym-spark:before { content: "\2737"; }
	.ym-star:before { content: "\2605"; }

	/* removes extra inner spacing in Firefox */
	.ym-form button::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	/* If line-height can't be modified, then fix Firefox spacing with padding */
	.ym-form input[type=button]::-moz-focus-inner,
	.ym-form input[type=reset]::-moz-focus-inner,
	.ym-form input[type=submit]::-moz-focus-inner {
		padding: .4em;
	}

	/* The disabled styles */
	.ym-form button[disabled],
	.ym-form button[disabled]:hover,
	.ym-form input[type=button][disabled],
	.ym-form input[type=button][disabled]:hover,
	.ym-form input[type=reset][disabled],
	.ym-form input[type=reset][disabled]:hover,
	.ym-form input[type=submit][disabled],
	.ym-form input[type=submit][disabled]:hover,
	.ym-button.ym-disabled,
	.ym-button.ym-disabled:hover {
		background: #eee;
		color: #aaa !important;
		border-color: #aaa;
		cursor: default;
		text-shadow: none;
		position: static;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	/* ie6 support styles - redefined buttons, because of missing support for attribute selectors */
	* html .ym-button,
	* html .ym-form button {
		display: inline-block;
		white-space: nowrap;
		background-color: #ccc;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
		border: 1px solid #777;
		color: #333 !important;
		cursor: pointer;
		font: normal 1em/2em Helvetica, Helvetica, sans-serif;
		margin: 1.5em 0.75em 0 0;
		padding: 0 1.5em;
		overflow: visible; /* removes extra side spacing in IE */
		text-decoration: none !important;
	}

	* html .ym-form button:focus,
	* html .ym-button:focus {
		outline: 0;
		background: #fafafa;
	}

	* html .ym-form button:hover,
	* html .ym-button:hover {
		background-color: #ddd;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
	}

	* html .ym-form button:active,
	* html .ym-button:active {
		background-color: #bbb;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#bbbbbb');
		position: relative;
		top: 1px;
	}

	* html .ym-button.ym-disabled,
	* html .ym-button.ym-disabled:hover {
		background: #eee;
		color: #aaa !important;
		border-color: #aaa;
		cursor: default;
		text-shadow: none;
		position: static;
	}
}
/**
 * "Yet Another Multicolumn Layout" - YAML CSS Framework
 *
 * (en) Uniform design of standard content elements
 * (de) Einheitliche Standardformatierungen für die wichtigten Inhalts-Elemente
 *
 * @copyright       Copyright 2005-2012, Dirk Jesse
 * @license         CC-BY 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-CDL (http://www.yaml.de/license.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         v4.0.2
 * @revision        $Revision: 743 $
 * @lastmodified    $Date: 2012-10-23 23:01:14 +0200 (Di, 23 Okt 2012) $
 * @appdef yaml
 */

@media all {

	/**
	* @section global typography settings
	*
	* vertical rhythm settings (based on em-unit)
	* -------------------------------------------
	* basefont-size: 14px (87.5%)
	* line-height  : 21px (factor: 1.5)
	*/

	/* (en) reset font size for all elements to standard (16 Pixel) */
	/* (de) Alle Schriftgrößen auf Standardgröße (16 Pixel) zurücksetzen */
	html * { font-size:100%; }

	/**
	* (en) reset monospaced elements to font size 16px in all browsers
	* (de) Schriftgröße von monospaced Elemente in allen Browsern auf 16 Pixel setzen
	*
	* @see: http://webkit.org/blog/67/strange-medium/
	*/

	textarea,
	pre,
	code,
	kbd,
	samp,
	var,
	tt {
		font-family:Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
	}

	/* (en) base layout gets standard font size 14px */
	/* (de) Basis-Layout erhält Standardschriftgröße von 14 Pixeln */
	body {
		font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
		font-size:87.50%; /* base: 14px */
		color:#444;

		/* (en) Prevent auto-scaling of text in mobile webkit browsers */
		/* (de) Automatische Schriftvergrößerung in mobilen Webkit-Browsern vermeiden */
		-webkit-text-size-adjust:100%;
	}

	/*--- Headings | Überschriften ------------------------------------------------------------------------*/

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Droid Sans", Arial, Helvetica, sans-serif;
		font-weight: 400;
		color:#161e21;
		margin:0;
	}

	/*
	h1 {
		font-size:350%;
		line-height: 0.8571em;
		margin: 0.4286em 0 0;
	}

	h2 {
		font-size:250%;
		line-height: 1.2em;
		margin: 0.6em 0 0 0;
	}
	*/

	h1 {
		font-size:175%;
		line-height: 0.8571em;
		margin:0.8571em 0 0 0;
	}

	h2 {
		font-size:133.33%;
		line-height: 1.125em;
		margin:1.125em 0 0 0;
	}

	h3 {
		font-size:116.67%;
		line-height: 1.2857em;
		margin: 1.2857em 0 0 0;
	}

	h4 {
		font-weight: bold;
		font-size:100%;
		line-height: 1.5em;
		margin: 1.5em 0 0 0;
	}

	/* --- Lists | Listen  -------------------------------------------------------------------------------- */

	ul,
	ol,
	dl {
		font-size:1em;
		line-height:1.5em;
		margin: 1.5em 0 0 1em;
	}

	ul {
		list-style-type:disc;
	}

	ol {
		list-style-type:decimal;
	}

	ul ul {
		list-style-type:circle;
		margin-top:0;
	}

	ol ol {
		list-style-type:lower-latin;
		margin-top:0;
	}

	ol ul {
		list-style-type:circle;
		margin-top:0;
	}

	li {
		font-size:1em;
		line-height:1.5em;
		margin-left:0.8em;
	}

	dt { font-weight:bold; }

	dd { margin:0 0 1.5em 0.8em; }

	/* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */

	p {
		font-size:1em;
		line-height:1.5em;
		margin: 1.5em 0 0 0;
	}

	blockquote, cite, q {
		font-family: Georgia, "Times New Roman", Times, serif;
		font-style:italic;
	}

	blockquote {
		margin:1.5em 0 0 1.5em;
		color:#666;
	}

	strong, b { font-weight:bold; }

	em, i { font-style:italic; }

	big {
		font-size:116.667%;
	}

	small {
		font-size:85.71%;
	}

	pre,
	code,
	kbd,
	tt,
	samp,
	var {
		font-size:100%;
	}

	pre {
		line-height:1.5em;
		margin: 1.5em 0 0 0;
		white-space: pre;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
	pre, code { color:#800; }

	kbd, samp, var, tt {
		color:#666;
		font-weight:bold;
	}

	var, dfn { font-style:italic; }

	acronym, abbr {
		border-bottom:1px #aaa dotted;
		font-variant:small-caps;
		letter-spacing:.07em;
		cursor:help;
	}

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sup { top: -0.5em; }
	sub { bottom: -0.25em; }

	mark {
		background: #ff0;
		color: #000;
	}

	hr {
		color:#fff;
		background:transparent;
		margin:0 0 0.75em 0;
		padding:0 0 0.75em 0;
		border:0;
		border-bottom:1px #eee solid;
	}

	/*--- Links ----------------------------------------------------------------------------------------- */

	a {
		color:#4D87C7;
		background:transparent;
		text-decoration:none;
	}

	a:active { outline: none; }

	/* (en) maximum constrast for tab focus - change with great care */
	/* (en) Maximaler Kontrast für Tab Focus - Ändern Sie diese Regel mit Bedacht */
	a:hover,
	a:focus {
		background-color: #4D87C7;
		color:#fff;
		text-decoration:none;
	}

	/* --- images ------------------ */

	img,
	figure {
		margin: 0;
	}

	.flexible {
		margin-top: 1.5em;
		max-width: 100%;
		height: auto;
	}

	* html .flexible {	/* IE6 support */
		width: 98%;		/* 2% space for borders */
	}

	.bordered {
		margin-top: 1.5em;
		border: 2px #eee solid;
		border: 2px rgba(255,255,255,1) solid;
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.25);
		-moz-box-shadow: 0 0 3px rgba(0,0,0,.25);
		box-shadow: 0 0 3px rgba(0,0,0,.25);
	}

	/**
	* ----------------------------------------------------------------------- #
	*
	* Generic Content Classes
	*
	* (en) standard classes for positioning and highlighting
	* (de) Standardklassen zur Positionierung und Hervorhebung
	*
	* @section content-generic-classes
	*/
	.highlight {
		color:#c30;
	}

	.dimmed {
		color:#888;
	}

	.box {
		border-radius: 0.3em;
		border-width: 1px;
		border-style: solid;
		border-color: #888;
		border-color: rgba(0,0,0,.3);
		-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
		-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
		color: #444;
		color: rgba(0,0,0,.8);
		padding: 1.4286em;
		margin: 1.5em 0 0 0;
	}

	.box > *:first-child {
		margin-top: 0;
	}

	.label {
		font-family: Verdana, Geneva, sans-serif;
		padding: 1px 6px 2px;
		display: inline-block;
		vertical-align:middle;
		letter-spacing: normal;
		white-space:nowrap;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background: #06C;
		color: #fff;
		font-size: 10px;
		line-height: 12px;
	}

	.info {
		background:#f4f4f4;
	}

	.success {
		background:#8c8;
	}

	.warning {
		background:#cc8;
	}

	.error {
		background:#c88;
	}

	.float-left {
		float:left;
		display:inline;
		margin: 1.5em 1em 0 0;
	}

	.float-right {
		float:right;
		display:inline;
		margin: 1.5em 0 0 1em;
	}

	.center {
		display:block;
		text-align:center;
		margin: 1.5em auto 0 auto;
	}

	/**
	* ------------------------------------------------------------------------------------------------- #
	*
	* Tables | Tabellen
	*
	* (en) Generic classes for table-width and design definition
	* (de) Generische Klassen für die Tabellenbreite und Gestaltungsvorschriften für Tabellen
	*
	* @section content-tables
	*/

	table {
		width:100%;
		border-collapse:collapse;
		margin: 1.3571em 0 0 0;
		color:#333;
		border-top: 1px #ccc solid;
		border-bottom: 1px #ccc solid;
	}

	table.narrow {
		margin:  1.4286em 0 0 0;
	}

	table.narrow th,
	table.narrow td {
		padding: 0 0.5em;
		line-height: 1.4286em;
	}

	table.bordertable {
		border:1px #ccc solid;
	}

	table caption {
		font-variant:small-caps;
	}

	th, td {
		line-height: 1.5em;
		vertical-align: top;
		padding: 0.7143em 0.5em;
	}

	th *:first-child,
	td *:first-child {
		margin-top: 0;
	}

	th.nowrap,
	td.nowrap {
		white-space: nowrap;
	}

	thead th {
		text-align: left;
		color:#000;
		border-bottom:2px #000 solid;
	}

	.bordertable thead th {
		background:#e0e0e0;
		border-right:1px #ccc solid;
		border-bottom:1px #ccc solid;
	}

	.bordertable tbody th[scope="row"] {
		background:#f0f0f0;
	}

	tbody th {
		text-align: left;
		border-top:1px solid #ccc;
		text-align:left;
	}

	.bordertable tbody th {
		border-right:1px solid #ccc;
	}

	tbody td {
		text-align: left;
		border-top:1px solid #ccc;
	}

	.bordertable tbody td {
		border-right:1px solid #ccc;
	}

	/* highlight row on mouse over */
	tbody tr:hover th,
	tbody tr:hover td {
		background:#f8f8f8;
	}
}/**
 * "Yet Another Multicolumn Layout" - YAML CSS Framework
 *
 * default screen stylesheet - PAGE-layout type layout
 *
 * @copyright       Copyright 2005-2012, Dirk Jesse
 * @license         CC-BY 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-CDL (http://www.yaml.de/license.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         v4.0.2
 * @revision        $Revision: 743 $
 * @lastmodified    $Date: 2012-10-23 23:01:14 +0200 (Di, 23 Okt 2012) $
 */

@media screen {

	/* force vertical scrollbar */
	body {
		overflow-y: scroll;
	}

	/* Layout Module Configuration & fallback for unsupported media queries */
	.ym-wrapper {
		min-width: 760px;
		max-width: 80em;
		margin: 0 auto;
	}

	.ym-wbox { padding: 10px; }

	/* Basic Element Styling */

	/* hdaw-mint */
	header {
		background: transparent;
		color: #444;
		padding: 1.5em;
	}


	header h1 {
		background: transparent;
		color: #fff;
	}

	nav {
		background: transparent;
	}

	#main {
	}

	footer {
		margin: 1.5em 0 0 0;
		background: #eee;
		color: #444;
		padding: 0.5em 1.5em;
	}

	footer p {
		margin: 0;
	}


	/* Column-Set Configuration: 1-3 (sidebar right) */
	.ym-column {
		display:block;
		overflow:hidden;
		padding-right: 340px;
		width:auto;
	}

	/* ORIGINAL */
	/* content */
	.ym-col1 {
		float:left;
		width: 100%;
	}

	/* sidebar */
	.ym-col3 {
		position:relative;
		float:left;
		width: 340px;
		margin-left:0;
		margin-right:-340px;
		margin-top:4.6em;
	}


	.ym-col1 .ym-cbox { padding: 0 0.75em 0 1.5em; }
	.ym-col3 .ym-cbox { padding: 0 20px 0 12px; }

	.ym-gbox { padding: 0 1.5em 0 0; }

	/* skip links styling */
	.ym-skiplinks a.ym-skip:focus,
	.ym-skiplinks a.ym-skip:active {
		color:#fff;
		background:#333;
		border-bottom:1px #000 solid;
		padding:10px 0;
		text-align: center;
		text-decoration:none;
	}
}

/* reset fallback values in modern browsers */
@media screen and ( min-width: 0px ) {
	.ym-wrapper {
		min-width: 0px;
	}
}

@media screen and ( max-width: 840px ) {  /* JB: Original wären 740px */

	/* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-1 */
	.linearize-level-1,
	.linearize-level-1 > [class*="ym-g"],
	.linearize-level-1 > [class*="ym-col"] {
		display: block;
		float: none;
		padding: 0;
		margin: 0;
		width: 100% !important;
	}

	.linearize-level-1 > [class*="ym-g"] > [class*="ym-gbox"],
	.linearize-level-1 > [class*="ym-col"] > [class*="ym-cbox"] {
		overflow: hidden; /* optional for containing floats */
		padding: 0;
		margin: 0;
	}

	nav .ym-hlist ul {
		padding-right: 10px;
	}

	.ym-searchform {
		display:block;
		float: none;
		width: auto;
		padding-right: 10px;
		text-align: right;
	}

	.ym-searchform input[type="search"] {
		width: 14%;
	}
}

@media screen and ( max-width: 480px) {

	.ym-wbox {
		padding: 0;
	}

	header {
		padding: 0.75em 10px;
	}

	header h1 {
		font-size: 1.5em;
		line-height: 1em;
		margin: 0;
	}

	footer,
	#main,
	.ym-searchform,
	nav .ym-hlist ul {
		padding-left: 10px;
		padding-right: 10px;
	}

	/* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-2 */
	.linearize-level-2,
	.linearize-level-2 > [class*="ym-g"],
	.linearize-level-2 > [class*="ym-col"] {
		display: block;
		float: none;
		padding: 0;
		margin: 0;
		width: 100% !important;
	}

	.linearize-level-2 > [class*="ym-g"] > [class*="ym-gbox"],
	.linearize-level-2 > [class*="ym-col"] > [class*="ym-cbox"] {
		overflow: hidden; /* optional for containing floats */
		padding: 0;
		margin: 0;
	}

	.ym-searchform,
	nav .ym-hlist ul,
	nav .ym-hlist li {
		display:block;
		float: none;
		width: auto;
		text-align: left;
	}

	.ym-searchform input[type="search"] {
		width: 75%;
	}
}