
 /* https://en.wikipedia.org/wiki/Ophicleide
body {background:  url("../images/Ophicleide.png")
      no-repeat fixed top right; 
      font-family: Candara,Helvetica,sans-serif }
*/


body {background:  url("../images/semAuthLogo2.png") 
      no-repeat fixed bottom right; 
      font-family: Candara,Helvetica,sans-serif }

	h1, h2,	h3, h4,	h5, h6 {
	    color:#c00;
	}



.gruen{ color: green; }
.rot{ color:#c00; }
.gelb{ color:#cc3;}



